@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Oswald&family=Righteous&display=swap');
/*
font-family: 'Anonymous Pro', monospace;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
*/

html{
    background-color: rgb(27, 26, 26);
}
h* {
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Oswald', sans-serif;
    color: rgb(233, 237, 241);
}
a {
    text-decoration: inherit;
    color: inherit;
}

.container1{
    display: grid;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-rows: 150px, 10px, 200px, 200px, 200px, 200px;
    column-gap: 10px;
    row-gap: 15px;
}


.header-name-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
    color: rgb(188, 199, 209);
}

.header-home-container{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    margin-top: 15px;
    text-align: center;
    color: rgb(91, 123, 212);
}

.header-contact-container{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    margin-top: 15px;
    text-align: center;
    color: rgb(91, 123, 212);
}
.hr-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    width: 100%;
}

.bigImg-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    display: block;
    border: 3px solid rgb(71, 71, 71);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bigAbout-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    font-size: xx-large;
}

.smallAbout-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.smallImg-container{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact-me-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color:rgb(131, 131, 223);
    text-align: center;
    outline: solid 1px aliceblue;
}

.school-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.phone-container{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.email-container{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(43, 42, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media screen and (min-width : 800px){
    .container1{
        display: grid;
        width: 100%;
        grid-template: repeat(16, 40px) / repeat(27, 1fr);
    }
    .header-name-container{
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .header-home-container{
        grid-column-start: 17;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .header-contact-container{
        grid-column-start: 22;
        grid-column-end: 26;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .bigImg-container{
        grid-column-start: 2;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 13;
    }
    .bigAbout-container{
        grid-column-start: 14;
        grid-column-end: 26;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .smallAbout-container{
        grid-column-start: 14;
        grid-column-end: 19;
        grid-row-start: 10;
        grid-row-end: 14;
    }
    .smallImg-container{
        grid-column-start: 19;
        grid-column-end: 26;
        grid-row-start: 10;
        grid-row-end: 14;
    }
    .hr-container{
        height: 5px;
        background-color: rgb(75, 75, 75);
        color: rgb(75, 75, 75);
        grid-column-start: 1;
        grid-column-end: 28;
        grid-row-start: 4;
        grid-row-end: 3;
    }

    .contact-me-container{
        grid-column-start: 10;
        grid-column-end: 19;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .school-container{
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .phone-container{
        grid-column-start: 16;
        grid-column-end: 21;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .email-container{
        grid-column-start: 12;
        grid-column-end: 17;
        grid-row-start: 9;
        grid-row-end: 12;
    }
}
